*{
    margin: 0;
}

#character-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.charStyle {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.charStyle:hover {
    background-color: black;
    color: white;
}
#name {
    text-align: center;
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}
#image {
    height: 300px;
    margin: 10px;
}
#description ,
#thoughts{
    text-align: center;
    font-size: larger;
    padding: 10px;
}
.logo {
    background-image: url(https://images8.alphacoders.com/126/1265937.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
}
#logo{
    height: 100px;
    float: left;
    color: white;
    font-size: xx-large;
    font-weight: 900;
} 
.deleteClass {
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    color: red;
    font: bolder;
    font-size: large;
    transition: 0.3s;
}
.deleteClass:hover {
    background-color: red;
    color: black;
}
#formId{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submitButton {
    margin: 5px;
    width: 80px;
    height: 30px;
    background: transparent;
    border-radius: 5px;
    transition: 0.4s;
}
#submitButton:hover{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: bolder;
    width: 120px;
    height: 50px;


}
#nameId,
#descriptionId,
#imageUrl{
    margin: 5px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}